@import url("transition-color.css");
@import url('file:///home/bibek/.cache/wal/colors.css');

 @-moz-document url("about:home"),url(about:preferences),url("about:blank"),url("about:newtab"),url("about:privatebrowsing"){
  body{background-color:#263238!important;--newtab-search-icon: transparent !important;}
  a,a:visited,a:hover{color:#263238!important}
    #newtab-search-text {
    background-color: #263238 !important;
    color: #9BA8BB !important;
  }
}

menu { 
  color: #DDD !important;
}
.tab-content
{
  color : #DDDD !important;
}

.tab-content[selected="true"]
{
  background-color: #263238 !important;
  color : #F4F4F4 !important;
}

#urlbar-background {
/*   Rest of the urlbar besides input field  */
    background-color: #101112 !important;
}

#urlbar[open] > #urlbar-background{
  background: #101112 !important;
}

tab
{
  background-color: #263238 !important;
  color : #9BA8BB !important;
}

#tabbrowser-tabs, #window-controls, .toolbar-items{
  background-color: #263238 !important;
}

/* Retract when hovered over  */

#PanelUI-button {
/*   the sandwich menu button */
  border: none !important;
  background-color: #222D32 !important;;
}

#urlbar[open] > #urlbar-background, #urlbar-background, .toolbarbutton-1,
#nav-bar-customization-target, #nav-bar, #navigator-toolbox {
  background: #222D32 !important;
}

#stop-button, #downloads-button, #nav-bar-overflow-button, #reload-button,
#PanelUI-menu-button, #new-tab-button, #tabs-newtab-button, #scrollbutton-up, #scrollbutton-down,
#nav-bar-customization-target toolbarbutton, #PanelUI-menu-button{
  color: #BBB !important;
}

#urlbar{
  color: #DDD !important;
  border: 1px purple !important;
}
#urlbar-input-container {
  color: #CCC;
  border: none !important;
}
#urlbar-container{
  border: none !important;
}

#urlbar-results /* the dropdown suggestions */
{
  color: #BBB !important;
}
#search-one-offs{
  color: #FFF !important;
}
/* New Tab Flash */
:root{--newtab-textbox-background-color:#263238;}
