@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Contextual toolbar buttons, only show on hover, this is what matters, the rest of the file are just style tweaks I like
 */

:root:not([customizing]) #nav-bar toolbarbutton
 {
    margin-left: -28px !important;
    opacity: 0 !important;
    transform: scale(.85, .85) !important;
    pointer-events: none !important;
    transition: all 100ms var(--animation-easing-function) !important;
}

:root:not([customizing]) :hover > #nav-bar toolbarbutton,
:root:not([customizing]) :hover > #titlebar toolbarbutton {
    transform: scale(1, 1) !important;
opacity:1 !important;
margin-left:0 !important;
pointer-events: auto !important;
}

:root:not([customizing]) :hover > #nav-bar #urlbar,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar #urlbar {
font-size: 1.2em !important;
}

/* random style tweaks I like */
/*
Remove borders everywhere, some code copied from edge style for firefox
*/

 :root {
  --tabs-border: transparent !important;
}

.tabbrowser-tab::after, .tabbrowser-tab::before {
   border-left: none !important;
}

.scrollbutton-up:hover, .scrollbutton-down:hover {
	background: rgba(42, 42, 42, 1) ;
}
.scrollbutton-up:hover:active, .scrollbutton-down:hover:active {
	background: #444;
}
.tabs-newtab-button .toolbarbutton-icon {
	background: transparent ;
}
#urlbar, .searchbar-textbox {
	box-shadow: none !important;
}
:root {
	--toolbarbutton-border-radius: 0px !important;
}

#context-back > .menu-iconic-left, #context-forward > .menu-iconic-left, #context-reload > .menu-iconic-left, #context-stop > .menu-iconic-left, #context-bookmarkpage > .menu-iconic-left {
	padding: 0px !important;
}

