snippet sign
-- 
Sincerely,
Bibek Gautam
St. Xavier's College
Kathmandu, Nepal
bibek.gautam@sxc.edu.np
endsnippet

snippet gmail "Email id"
forgot.bg@gmail.com
endsnippet

snippet ilf "I look forward" A
I look forward to hearing from you.
endsnippet
